<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} -%5p -&#45;&#45; [%15.15t] %-40.40logger{39} : %m%n </pattern>-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} -%highlight(%-5level) --- %cyan([%15.15t]) %-40.40logger{39} : %m%n </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!--<logger name="org.apache.kafka.streams" level="trace"/>-->
    <logger name="blep" level="trace"/>

</configuration>
